################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GraphQL.Example/v15/Server/sqlite3
/GraphQL.Example/bin/Debug/netcoreapp2.2
/GraphQL.Example/obj
/.vs/GraphQL.Example/v15/.suo
